/*   Styles
-----------------------------------------------------------------*/

@font-face {
	font-family: 'Jimmycons';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/Jimmycons.eot');
	src: url('../fonts/Jimmycons.eot?#iefix') format('embedded-opentype'),
 			 url('../fonts/Jimmycons.svg#Jimmycons') format('svg'),
			 url('../fonts/Jimmycons.woff') format('woff'),
			 url('../fonts/Jimmycons.ttf') format('truetype');
}

body {
  background: url(../img/me.png) no-repeat 400px 120px,
   						url(../img/xv.png);
  color: rgb(81, 80, 80);
  font-size: 30px;
  margin: 0 auto;
  max-width: 940px;
}

h1 {
  font-size: 2.4em;
  margin: 1em 0;
}

ul {
  line-height: 3em;
  list-style: none;
  margin-right: 57.447%;
  padding: 0;
  text-align: right;
}

a {
  color: rgb(81, 80, 80);
  text-decoration: none;
}

.icon {
  font-family: "Jimmycons";
  -webkit-font-feature-settings: "liga", "dlig";
  	 -moz-font-feature-settings: "liga=1, dlig=1";
  	 -moz-font-feature-settings: "liga", "dlig";
  	  -ms-font-feature-settings: "liga", "dlig";
  	   -o-font-feature-settings: "liga", "dlig";
  	   		font-feature-settings: "liga", "dlig";
  font-size: 2em;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  text-rendering: optimizeLegibility;
  vertical-align: -0.3em;
}

.meltmedia .icon, a.meltmedia:hover {color: rgb(150, 192, 230);}
.github .icon, a.github:hover {color: rgb(0, 0, 0);}
.dribbble .icon, a.dribbble:hover {color: rgb(234, 76, 137);}
.twitter .icon, a.twitter:hover {color: rgb(46, 171, 225);}


/*   Media Queries
-----------------------------------------------------------------*/

@media only screen and (max-width: 939px) {
	h1 {text-align: center;}
	.icon {font-size: 1.5em;}
	
	ul {
  	font-size: 0.8em;
  	line-height: 2em;
	  margin-right: 57%;
	}
}

@media only screen and (max-width: 708px) {
  ul { margin-right: 50%; }
}

@media only screen and (max-width: 605px) {
  body {background: url(../img/head.png) no-repeat center 520px, url(../img/xv.png);}
  ul {margin-right: 20%;}
	h1 {
  	font-size: 60px;
  	margin: 0.75em 0 0.25em 0;
	}
}

@media only screen and (max-width: 480px) {
	ul {margin-right: 10%;}
}